snippet i-fig "Insert figure"
\begin{figure}[${1:h}]
	\centering
	\includegraphics[width=${2:0.7}\textwidth]{${3:your-image-file}}
	\caption{${4:Caption for the figure}}
	\label{fig:${5:label}}
\end{figure}
endsnippet


